html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --font-main: "Roboto", sans-serif;
  --font-logo: "Roboto Slab", serif;
  --color-background: linear-gradient(0.25turn, #000, #ebf8e1, #f9ef12);
  --color-validation-error: red;
  --color-primary-button: #f9ef12;
  --color-gray: #72726f;
  --color-black: #000;
  --color-transparent-background: rgb(255 255 255 / 50%);
  --color-transparent-background-light: rgb(255 255 255 / 20%);
}

body {
  background: var(--color-background);
  max-height: 1080px;
}

.validation-error__message {
  font-size: 12px;
  color: var(--color-validation-error);
}

.validation-error {
  border-color: var(--color-validation-error) !important;
}

.hidden {
  display: none !important;
}
