.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.section {
  position: static;
  width: 100%;
  left: 104px;
  top: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 104px;
  max-height: 1080px;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--color-transparent-background);
}

.sidebar__menu {
  position: static;
  width: 80px;
  height: 80px;
  left: 12px;
  top: 12px;
  border-radius: 40px;
  overflow: hidden;
}

.sidebar__back {
  position: static;
  width: 80px;
  height: 80px;
  left: 12px;
  top: 932px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 44px;
  padding-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 20px 0;
}

.info__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 20px 0;
  width: 100%;
}

.info__item input {
  background: var(--color-transparent-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray);
  height: 40px;
  border-radius: 8px;
  display: block;
}

.info__item label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.avatar-image {
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}

.avatar-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.save-button {
  background-color: var(--color-primary-button);
  color: var(--color-black);
  height: 40px;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
}

.save-button_container {
  margin: 20px auto;
  max-width: 50%;
  padding: 10px;
}

.avatar-image__change {
  position: static;
  width: 50px;
  height: 50px;
  margin-top: -30px;
}
