.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__item input {
  background: var(--color-transparent-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray);
  height: 40px;
  border-radius: 8px;
}

.button {
  background-color: var(--color-primary-button);
  color: var(--color-black);
  height: 40px;
  border-radius: 8px;
  width: 100px;
}

.signin-link {
  color: var(--color-black);
  text-decoration: underline dotted black 2px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 12px 20px 0;
}

.form__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 20px 0;
  width: 100%;
}

.form__item__button_container {
  margin: 20px auto;
  max-width: 50%;
  padding: 10px;
}
