.main {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.section {
  position: static;
  width: 100%;
  left: 104px;
  top: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 104px;
  max-height: 1080px;
  bottom: 0;
  left: 0;
  top: 0;
  background: var(--color-transparent-background);
}

.sidebar__menu {
  position: static;
  width: 80px;
  height: 80px;
  left: 12px;
  top: 12px;
  border-radius: 40px;
  overflow: hidden;
}

.sidebar__back {
  position: static;
  width: 80px;
  height: 80px;
  left: 12px;
  top: 932px;
}

.error-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.error-page__info {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.error-page__code {
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
}
