.login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login input {
  background: var(--color-transparent-background);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray);
  height: 40px;
  border-radius: 8px;
  display: block;
}

.button {
  background-color: var(--color-primary-button);
  color: var(--color-black);
  height: 40px;
  border-radius: 8px;
  width: 100px;
}

.create-link {
  color: var(--color-black);
  text-decoration: underline dotted black 2px;
}

.button-container {
  margin: 20px auto;
  max-width: 50%;
  padding: 10px;
  text-align: center;
}
